.section_wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 20px;
}

/*Ipad skærm*/
@media only screen and (min-width: 768px) {
	.grid3 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-column-gap: 10px;
	}
}

/*Desktop skærm*/
@media only screen and (min-width: 1024px) {
	.grid3 h2 {
		padding-top: 1.5rem;
	}
}
